{% extends "layout.html" %}
{% block content %}
    <div class="wrapper" id="wrapper">
        <div class="loading-overlay">
            <div class="loading">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
{% endblock content %}