<div class="info">
    <h2>{{ server.hostname }}</h2>
    <div class="filter-list">
        <a href="#">3h</a>
        <a href="#">6h</a>
        <a href="#">12h</a>
        <a href="#">24h</a>
        <a href="#">3d</a>
        <a href="#">7d</a>
    </div>
</div>
<div class="graphs">
    <div>
        <h2>CPU usage (%)</h2>
        <hr/>
        <canvas id="cpuChart" width="600" height="300"></canvas>
    </div>
    <div>
        <h2>Load AVG</h2>
        <hr/>
        <canvas id="loadAvgChart" width="600" height="300"></canvas>
    </div>
    <div>
        <h2>Memory usage (%)</h2>
        <hr/>
        <canvas id="memoryChart" width="600" height="300"></canvas>
    </div>
    <div>
        <h2>Network</h2>
        <hr/>
        <canvas id="networkChart" width="600" height="300"></canvas>
    </div>
    <div>
        <h2>Storage usage (%)</h2>
        <hr/>
        <canvas id="storageChart" width="600" height="300"></canvas>
    </div>
    <div class="storage-list">
        <table id="storage-list-table">
            <tr>
                <th>Mountpoint</th>
                <th>Used (%)</th>
                <th>Used (GB)</th>
                <th>Left (GB)</th>
                <th>Max (GB)</th>
            </tr>
        </table>
    </div>
</div>
<div class="process-list">
    <table>
        <tr>
            <th>Process Name</th>
            <th>CPU Usage (%)</th>
        </tr>
        <tr>
            <td>python3</td>
            <td>XXX%</td>
        </tr>
        <tr>
            <td>/usr/bin/python3 very very long process name that should not fit here</td>
            <td>XXX%</td>
        </tr>
        <tr>
            <td>python3</td>
            <td>XXX%</td>
        </tr>
        <tr>
            <td>python3</td>
            <td>XXX%</td>
        </tr>
        <tr>
            <td>python3</td>
            <td>XXX%</td>
        </tr>
        <tr>
            <td>python3</td>
            <td>XXX%</td>
        </tr>
    </table>
</div>
</div>

<script>
    var labels = {{ labels | safe }};
    var valuesCpu = {{ values_cpu | safe }};
    var valuesLoadavg = {{ values_loadavg | safe }};
    var valuesMem = {{ values_mem | safe }};
    var valuesPartitions = {{ values_partitions | tojson | safe }};
    var valuesBytesReceived = {{ values_bytes_received | safe }};
    var valuesBytesSent = {{ values_bytes_sent | safe }};

    var valuesOneMinuteLoadAvg = [];
    var valuesFiveMinuteLoadAvg = [];
    var valuesFifteenMinuteLoadAvg = [];
    valuesLoadavg.forEach(loadavgValues => {
        valuesOneMinuteLoadAvg.push(loadavgValues[0]);
        valuesFiveMinuteLoadAvg.push(loadavgValues[1]);
        valuesFifteenMinuteLoadAvg.push(loadavgValues[2]);
    });
</script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>