<div class="info" hx-get="{{ url_for('servers.server_details', id=server.id) }}" hx-target="#wrapper" hx-trigger="newServerData[isDataLive()]">
    <h2>{{ server.hostname }}</h2>
    <div class="filters">
        {% if should_refresh_on_new_data %}
            <div id="is-data-live-toggle" is-data-live="true" hx-get="{{ url_for('servers.server_details_changed', id=server.id, last_data_timestamp=last_data_timestamp) }}" hx-trigger="every 60s" hx-swap="none">
                <a href="#" class="active" hx-get="{{ url_for('servers.server_details', id=server.id) }}" hx-target="#wrapper" hx-swap="innerHTML">Live</a>
            </div>
        {% else %}
            <div id="is-data-live-toggle" hx-get="{{ url_for('servers.server_details_changed', id=server.id, last_data_timestamp=last_data_timestamp) }}" hx-trigger="every 60s" hx-swap="none">
                <a href="#" hx-get="{{ url_for('servers.server_details', id=server.id) }}" hx-target="#wrapper" hx-swap="innerHTML">Live</a>
            </div>
        {% endif %}
        <div class="filter-list" id="filter-list">
            <a href="#" hx-get="{{ url_for('servers.server_details', id=server.id) }}" hx-target="#wrapper">3h</a>
            <a href="#" hx-get="{{ url_for('servers.server_details', id=server.id) }}" hx-target="#wrapper">6h</a>
            <a href="#" hx-get="{{ url_for('servers.server_details', id=server.id) }}" hx-target="#wrapper">12h</a>
            <a href="#" hx-get="{{ url_for('servers.server_details', id=server.id) }}" hx-target="#wrapper">24h</a>
            <a href="#" hx-get="{{ url_for('servers.server_details', id=server.id) }}" hx-target="#wrapper">3d</a>
            <a href="#" hx-get="{{ url_for('servers.server_details', id=server.id) }}" hx-target="#wrapper">7d</a>
        </div>
        <form class="search-timeframe">
            <label for="sinceDatetime">Since:</label>
            <input type="datetime" name="since" id="sinceDatetime" value="{{ since }}">
            <label for="toDatetime">To:</label>
            <input type="datetime" name="to" id="toDatetime" value="{{ to }}">
            <button class="btn" hx-get="{{ url_for('servers.server_details', id=server.id) }}" hx-target="#wrapper" hx-vals="js:{since: getInputVal('sinceDatetime'), to: getInputVal('toDatetime')}">Filter</button>
        </form>
    </div>
</div>
<div class="graphs">
    <div>
        <h2>CPU usage (%)</h2>
        <hr/>
        <canvas id="cpuChart" width="600" height="300"></canvas>
    </div>
    <div>
        <h2>Load AVG</h2>
        <hr/>
        <canvas id="loadAvgChart" width="600" height="300"></canvas>
    </div>
    <div>
        <h2>Memory usage (%)</h2>
        <hr/>
        <canvas id="memoryChart" width="600" height="300"></canvas>
    </div>
    <div>
        <h2>Network</h2>
        <hr/>
        <canvas id="networkChart" width="600" height="300"></canvas>
    </div>
    <div>
        <h2>Storage usage (%)</h2>
        <hr/>
        <canvas id="storageChart" width="600" height="300"></canvas>
    </div>
    <div class="storage-list">
        <table id="storage-list-table">
            <tr>
                <th>Mountpoint</th>
                <th>Used (%)</th>
                <th>Used (GB)</th>
                <th>Left (GB)</th>
                <th>Total (GB)</th>
                <th>Inode (%)</th>
            </tr>
        </table>
    </div>
</div>
<div class="process-list">
    <table>
        <tr>
            <th>Process Name</th>
            <th>CPU Usage (%)</th>
        </tr>
        <tr>
            <td>python3</td>
            <td>XXX%</td>
        </tr>
        <tr>
            <td>/usr/bin/python3 very very long process name that should not fit here</td>
            <td>XXX%</td>
        </tr>
        <tr>
            <td>python3</td>
            <td>XXX%</td>
        </tr>
        <tr>
            <td>python3</td>
            <td>XXX%</td>
        </tr>
        <tr>
            <td>python3</td>
            <td>XXX%</td>
        </tr>
        <tr>
            <td>python3</td>
            <td>XXX%</td>
        </tr>
    </table>
</div>
</div>
<script>
    var labels = {{ labels | safe }};
    var valuesCpu = {{ server_data_response.values_cpu | safe }};
    var valuesLoadavg = {{ server_data_response.values_loadavg | safe }};
    var valuesMem = {{ server_data_response.values_mem | safe }};
    var valuesPartitions = {{ server_data_response.values_partitions | tojson | safe }};
    var valuesBytesReceived = {{ server_data_response.values_bytes_received | safe }};
    var valuesBytesSent = {{ server_data_response.values_bytes_sent | safe }};

    var valuesOneMinuteLoadAvg = [];
    var valuesFiveMinuteLoadAvg = [];
    var valuesFifteenMinuteLoadAvg = [];
    valuesLoadavg.forEach(loadavgValues => {
        valuesOneMinuteLoadAvg.push(loadavgValues[0]);
        valuesFiveMinuteLoadAvg.push(loadavgValues[1]);
        valuesFifteenMinuteLoadAvg.push(loadavgValues[2]);
    });
</script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>
<script>updateNavFocus('hosts');</script>