<div class="item-groups">
    <div class="list-group">
        <div class="item-header">
            <h2>Users</h2>
            <div class="icon">+</div>
        </div>
        <div class="item-content">
            {% if current_user.role == 1 %}
                <a class="btn" href="{{ url_for('users.register') }}">Create new user</a>
            {% endif %}
            <div class="table-wrapper">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                    {% for user in users.items %}
                        <tr>
                            <td>{{ user.pretty_name }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.role }}</td>
                            <td>
                                {% if current_user.role == 1 %}
                                <a href="{{ url_for('users.user_edit', id=user.id) }}"><i class='bx bx-edit-alt'></i></a>
                                <i class='bx bxs-trash' hx-get="{{ url_for('users.user_delete', id=user.id) }}" hx-target="#wrapper" hx-confirm="Delete user '{{ user.pretty_name }}'?"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/accordion.js') }}"></script>
<script>translateUserRoleEnum(3);</script>
<script>updateNavFocus('users');</script>